$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.chef_info {
  margin-top: 10px;
}

#logo {
  float:left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

.jumbotron {
  color: white;
  background-image: asset-url('cooking-cover.jpg');
  background-size: cover;
  height: 300px;
}

.btn-xlarge {
  background-color: black;
}

.btn-xlarge:hover {
  text-decoration: none;
}

.footer {
  background-color: black;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}
.bubble {
  background-color: gray;

}
